# build artifacts
build/
dist/
bsedata.egg-info/

# development artifacts
bsedata/__pycache__/
__pycache__/
*.py[cod]

# pytest artifacts
.pytest_cache/
.coverage

# .json files for storing scrip codes
indices.json
stk.json

# Sphinx documentation
docs/_build/

# vscode temp files
.vscode